<h1 class="title" id="rewiews">Reviews</h1>
<p class="discription">Nam libero tempore, cum soluta nobis est</p>

<div class="carusel">
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2101</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2102</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2103</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2104</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2105</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
    <div class="carusel__item">
        <div class="item-img">
            <img src="assets/img/carusel/quote.png" alt="img-quote">
            <img src="assets/img/carusel/rate.png" alt="img-rate">
        </div>
        <div class="item-content">
            Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, 
            quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus. Temporibus autem quibusdam.
        </div>
        <div class="item-id">
            <img src="assets/img/carusel/user.png" alt="img-user">
            <span>ID: 2106</span>
        </div>
        <div class="item-category">
            Category|Subcategory
        </div>
    </div>
 
</div>
<hr class="read-more-hr">
<div class="read-more"><a href="#">Read more</a></div>



