<div class="main-container">

    <section class="promo-first">
        <div class="promo-first__content">
            <h1 class="promo-first__title">At vero eos et accusamus et iusto odio dignissimos ducimus</h1>
            <p class="promo-first__description">
                Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id,
                quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut
                et voluptates repudiandae sint et molestiae non recusandae. 
            </p>
            <button class="promo-first__btn primary-btn">Try for free</button>
        </div>

        <div class="promo-first__image">
            <img  class="promo-first__mac-image" src="assets/img/promo/mac.png" alt="img-mac">
        </div>
    </section>

    <section class="promo-second">
        <div class="promo-second__image">
            <img class="promo-second__watch-image" src="assets/img/promo/watch.png" alt="img-watch">
            <img class="promo-second__watch-image-tab" src="assets/img/promo/watchtab.png" alt="img-watch">
            <img class="promo-second__watch-image-mobile" src="assets/img/promo/watchmobile.png" alt="img-watch">
            <div class="promo-second__image-card mini-card">
                <div class="mini-card__header">
                    <img src="assets/img/promo/notice.png" alt="img-notice">
                    <span class="mini-card__title">Notice</span>
                </div>
                <p class="mini-card__content">
                    Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo 
                    minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est.
                </p>
            </div>
        </div>
        <div class="promo-second__content">
            <h1 class="promo-second__title title">Temporibus autem quibusdam et aut officiis debitis</h1>
            <p class="promo-second__description">
                At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium 
                voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, 
                obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia
                animi, id est laborum et dolorum fuga.
            </p>
            <p class="promo-second__description-mobile">
                In Deutschland, sprich: an verschiedenen Schulen bestehen zum Teil deutliche Unterschiede
                hinsichtlich den Anforderungen an eine Facharbeit; sie beziehen sich vor allem auf den Umfang, 
                die gewährte Schreibfrist und den Grad an notwendigen Kompetenzen. Zudem können die Erwartungen
                der einzelnen Dozenten mehr oder weniger weit auseinanderliegen.
            </p>
            <button class="promo-second__btn primary-btn">Try for free</button>
        </div>

    </section>







</div>
