<footer class="footer">
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-main-phones">
                <p>+49(621) 53399112</p>
                <p>Call us! </p>
                <p class="footer-rate"> <img src="assets/img/footer/rate.png" alt="img-rate"> </p>
                <p>
                    <select class="footer-select">
                        <option value="">Info</option>
                    </select>
                </p>

            </div>
            <div class="footer-main-links">
                <div class="footer-main-links-left">
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#product">Product</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-main-links-right">
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#how">How it works</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#rewiews">Reviews</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="footer-social">
            <div class="footer-social-block">
                <a href="#"><img src="assets/img/footer/logos-facebook.png" alt="img-fb"></a>
                <a href="#"><img src="assets/img/footer/logos-instagram.png" alt="img-insta"></a>
                <a href="#"><img src="assets/img/footer/logos-youtube.png" alt="img-youtube"></a>
                <a href="#"><img src="assets/img/footer/logos-pinterest.png" alt="img-pint"></a>
            </div>
            <div class="footer-social-block">
                <a href="#"><img src="assets/img/footer/visa.png" alt="img-visa"></a>
                <a href="#"><img src="assets/img/footer/mastercard.png" alt="img-visa"></a>
            </div>
            <div>
                <img src="assets/img/footer/security.png" alt="img-security">
            </div>

        </div>
    </div>
    
    <p class="portfolio">
        Portfolio of front-end developer Holub Roman (Angular11 + Angular material)
    </p>

</footer>

