<div class="stepper-container">
    <h2 class="stepper-header title" id="how">How it works</h2>
    <p class="stepper-discription">
         Ut enim ad minim veniam, quis nostrud
         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step label="step1">
            <div class="step">
                <p>Step 1</p>
                <p>Schritt 1</p>
            </div>
        </mat-step>
        <mat-step  label="step2">
            <div class="step">
                <p>Step 2</p>
                <p>Schritt 2</p>
            </div>
        </mat-step>
        <mat-step label="step3">
            <div class="step">
                <p>Step 3</p>
                <p>Schritt 3</p>
            </div>
        </mat-step>
        <mat-step label="step4">
            <div class="step">
                <p>Step 4</p>
                <p>Schritt 4</p>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <h2 class="stepper-header title left">Sed ut perspiciatis</h2>
    <div class="slider-container">
        <div class="slider-container__slider">
            <ul class="slider-container__slider-list">
                <li class="slider-container__slider-item slider-container__slider-item-active" (click)="toggle(0)">Nemo enim</li>
                <li class="slider-container__slider-item" (click)="toggle(1)">Die ipsam voluptatem</li>
                <li class="slider-container__slider-item" (click)="toggle(2)">Ut enim ad minima</li>
                <li class="slider-container__slider-item" (click)="toggle(3)">Quis autem vel</li>
                <li class="slider-container__slider-item" (click)="toggle(4)">Sed ut perspiciatis</li>
            </ul>
        </div>
        <div class="slider-container__content" >
            <div class="slider-container__content-first slider-content">
                <p class="slider-content__title">
                    Nemo enim ipsam voluptatem, quia voluptas sit
                </p>
                <ol  class="slider-container__content-list">
                    <li>
                        <span class="content-item">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</span>
                    </li>
                    <li>
                        <span class="content-item">Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</span> 
                    </li>
                    <li>
                        <span class="content-item">Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</span> 
                    </li>
                </ol>
                <p class="slider-content__notice">Notice:</p>
                <p>Dolorem ipsum, quia dolor sit amet consectetu</p>

            </div>
            <div class="slider-container__content-second slider-content">
                <p class="slider-content__title">
                    Nemo enim ipsam voluptatem, quia voluptas sit
                </p>
                <ol class="slider-container__content-list">
                    <li>
                        <span class="content-item">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</span>
                    </li>
                    <li>
                        <span class="content-item">Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</span> 
                    </li>
                </ol>
                <p class="slider-content__notice">Notice:</p>
                <p>Dolorem ipsum, quia dolor sit amet consectetu</p>
            </div>
            <div class="slider-container__content-third slider-content">
                <p class="slider-content__title">
                    Nemo enim ipsam voluptatem, quia voluptas sit
                </p>
                <ol class="slider-container__content-list">
                    <li>
                        <span class="content-item">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</span>
                    </li>
                    <li>
                        <span class="content-item">Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</span> 
                    </li>
                    <li>
                        <span class="content-item">Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</span> 
                    </li>
                </ol>
                 <p>Dolorem ipsum, quia dolor sit amet consectetu</p>
            </div>
            <div class="slider-container__content-fourth slider-content">
                <p class="slider-content__title">
                    Nemo enim ipsam voluptatem, quia voluptas sit
                </p>
                <ol class="slider-container__content-list">
                    <li>
                        <span class="content-item">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</span>
                    </li>
                    <li>
                        <span class="content-item">Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</span> 
                    </li>
                    <li>
                        <span class="content-item">Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</span> 
                    </li>
                </ol>
            </div>
            <div class="slider-container__content-fifth slider-content">
                <p class="slider-content__title">
                    Nemo enim ipsam voluptatem, quia voluptas sit
                </p>
                <ol class="slider-container__content-list">
                    <li class="content-item">
                        Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore 
                    </li>
                    <li>
                        <span class="content-item">Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</span> 
                    </li>
                    <li>
                        <span class="content-item">Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</span> 
                    </li>
                </ol>
                <p class="slider-content__notice">Notice:</p>
                <p>Dolorem ipsum, quia dolor sit amet consectetu</p>
            </div>
        </div>
    </div>
    

</div>