<section class="payment main-container">
    <div class="payment__content">
        <h2 class="title payment__title">Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit</h2>
        <p class="payment__discription">
            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt, explicabo. 
        </p>
    </div>
    <div class="payment__img">
        <img src="assets/img/payment/specialist-image.png" alt="img-payment">
    </div>
</section>
<section class="stepper-container">
    <div class="slider-container">
        <div class="slider-container__slider">
            <ul class="slider-container__slider-list">
                <li class="slider-container__slider-item slider-container__slider-item-active second-slider" (click)="toggle(0)">Nemo enim</li>
                <li class="slider-container__slider-item second-slider" (click)="toggle(1)">Temporibus autem</li>
                <li class="slider-container__slider-item second-slider" (click)="toggle(2)">Nam libero</li>
            </ul>
        </div>
        <div class="slider-container__content second-content" >
            <div class="slider-container__content-first slider-content slider-content-second">
                <p>
                    1 At vero eos et accusamus et iusto odio dignissimos ducimus,
                    qui blanditiis praesentium voluptatum deleniti atque corrupti, 
                    quos dolores et quas molestias excepturi sint, obcaecati cupiditate 
                    non provident, similique sunt in culpa, 
                </p>
            </div>
            <div class="slider-container__content-second slider-content slider-content-second">
                <p>
                    2 At vero eos et accusamus et iusto odio dignissimos ducimus,
                    qui blanditiis praesentium voluptatum deleniti atque corrupti, 
                    quos dolores et quas molestias excepturi sint, obcaecati cupiditate 
                    non provident, similique sunt in culpa, 
                </p>
            </div>
            <div class="slider-container__content-third slider-content slider-content-second">
                <p>
                    3 At vero eos et accusamus et iusto odio dignissimos ducimus,
                    qui blanditiis praesentium voluptatum deleniti atque corrupti, 
                    quos dolores et quas molestias excepturi sint, obcaecati cupiditate 
                    non provident, similique sunt in culpa, 
                </p>
            </div>
        </div>
    </div>

</section>

